---
import { Picture } from "@astrojs/image/components";
import aws_ccp from "~/assets/certs/aws_ccp.png";
import aws_saa from "~/assets/certs/aws_saa.png";
import aws_dva from "~/assets/certs/aws_dva.png";
import aws_soa from "~/assets/certs/aws_soa.png";

const widths = [450, 800, 1200];
const sizes = "100vw";
---

<section
  id="certifications"
  class="mx-auto flex max-w-4xl scroll-mt-24 flex-col items-center gap-4 space-y-8"
>
  <h3 class="gradient-text text-left font-extrabold tracking-tight text-2xl">
    Certifications
  </h3>
  <ul class="grid w-2/3 grid-cols-2 gap-4 md:grid-cols-4">
    <li>
      <Picture
        class="h-full w-full object-cover"
        src={aws_saa}
        widths={widths}
        sizes={sizes}
        alt="AWS Certified Solutions Architect - Associate"
      />
    </li>
    <li>
      <Picture
        class="h-full w-full object-cover"
        src={aws_dva}
        widths={widths}
        sizes={sizes}
        alt="AWS Certified Developer - Associate"
      />
    </li>
    <li>
      <Picture
        class="h-full w-full object-cover"
        src={aws_soa}
        widths={widths}
        sizes={sizes}
        alt="AWS Certified SysOps Administrator - Associate"
      />
    </li>
    <li>
      <Picture
        class="h-full w-full object-cover"
        src={aws_ccp}
        widths={widths}
        sizes={sizes}
        alt="AWS Certified Cloud Practitioner"
      />
    </li>
  </ul>
</section>
