---
import "~/styles/index.css";

export interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const { generator, site } = Astro;

const {
  title = "Kirk Watson",
  description = "I am a software engineer currently studying Computer Science, Data Science, and Mathematics at Southern Methodist University.",
  image = new URL("social.jpg", site),
} = Astro.props;
---

<!-- HTML Meta Tags -->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet"
  />
  <meta name="generator" content={generator} />

  <title>{title}</title>
  <meta name="description" content={description} />

  <!-- Facebook Meta Tags -->

  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Kirk Watson" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={image} />

  <!-- Twitter Meta Tags -->

  <meta name="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={image} />

  <!-- initialize theme -->
  <script is:inline>
    const themeSaved = localStorage.getItem("theme");

    if (themeSaved) {
      document.documentElement.dataset.theme = themeSaved;
    } else {
      const prefersDark = window.matchMedia(
        "(prefers-color-scheme: dark)"
      ).matches;
      document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
    }

    window
      .matchMedia("(prefers-color-scheme: dark)")
      .addEventListener("change", (event) => {
        if (!localStorage.getItem("theme")) {
          document.documentElement.dataset.theme = event.matches
            ? "dark"
            : "light";
        }
      });
  </script>
</head>
